
/*******************************! App.js ********************************/
.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

.App-load {
  height: 20vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-load {
    animation: App-logo-spin infinite 1s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #ffffff;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*******************************! Lang.js ********************************/
.lang {
  display: grid;
  grid-template-columns: repeat(3, 9fr);
  gap: 1%;
  text-align: center;
}

@media screen and (max-width: 550px) {
  .lang {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1%;
    text-align: center;
  }
}

@media screen and (min-width: 551px) {
  .lang {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1%;
    text-align: center;
  }
}

.square1 {
  aspect-ratio: 1/ 1;
  display: flex;
  align-items: center;
  padding: 5%;
  background-color: #111;
  color: #fff;
  font-size: 4vw;
}

.square2 {
  aspect-ratio: 1/ 1;
  display: flex;
  align-items: center;
  padding: 5%;
  background-color: #fff;
  color: #111;
  font-size: 4vw;
}

.square1 img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

.square2 img {
  width: 100%;
  height: 100%;
  object-position: center;
}

.square1.fullImg {
  padding: 0;
}

.square2.fullImg {
  padding: 0;
}

/*******************************! Logo.js ********************************/
